*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: dadada;
}

div {
  float: left;
  display: block;
  margin:1% 0;
  width: 100%;
}

h1 {
  font-family: system-ui, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

h2 {
  font-family: serif;
  font-size: 20px;
  text-transform: capitalize;
}

.container {
  margin: 20px auto;
  width: 100%;
  position: relative;
}

.top-left {
  width: 10%;
  position: absolute;
  top: 30px;
  left: 30px;
}

.img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 575px) {
  .preview {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px) {
  .preview {
    margin: 1%;
    width: 23%;
  }
}
