*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color: #dadada;
  font: 10px;
  height: 100%;
}

div {
  float: left;
  display: block;
  margin:1% 0;
  width: 100%;
}

.container {
  margin: 20px auto;
  min-width: 50%;
  height: 50%;
  position: relative;
}

.top-left {
  position: absolute;
}

.preview {
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

.baku {
  background-image: url(../images/baku.jpg);
}

.london {
  background-image: url(../images/london.png);
}

.madrid {
  background-image: url(../images/madrid.jpg);
}

.rome {
  background-image: url(../images/rome.jpg);
}

h1 {
  font-family: system-ui, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
}

h2 {
  font-family: serif;
  font-size: 20px;
  text-transform: capitalize;
  padding-top: 30px;
  padding-left: 30px;
}

@media screen and (min-width: 575px) {
  .preview {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px) {
  .preview {
    margin: 1%;
    width: 23%;
  }
}
